services:
  sphinx:
    image: docker-private.gesis.intra/rse/oc/sphinx-doc:3.3.0
    command: ["sphinx-autobuild", "--host", "0.0.0.0", "/mnt/docs/source", "/mnt/docs/build"]
    healthcheck:
      test: ["CMD", "wget", "-O", "/dev/null", "http://127.0.0.1:8000"]
    volumes:
      - type: bind
        source: docs/source
        target: /mnt/docs/source
        read_only: true
      # Create volume to avoid the container overwrite demo/build
      - sphinx-doc-build:/mnt/docs/build
    expose:
      - "8000"
    ports:
      - "8000:8000"

volumes:
  sphinx-doc-build:
