- name: Add Helm public GPG key
  ansible.builtin.get_url:
    url: https://packages.buildkite.com/helm-linux/helm-debian/gpgkey
    dest: /etc/apt/trusted.gpg.d/helm.asc
    mode: '0644'
    force: true
- name: Remove old Helm repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/helm.asc] https://baltocdn.com/helm/stable/debian/ all main"
    filename: kubernetes
    state: absent
- name: Add Helm repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/trusted.gpg.d/helm.asc] https://packages.buildkite.com/helm-linux/helm-debian/any/ any main"
    filename: kubernetes
    state: present
- name: Install dependencies
  ansible.builtin.apt:
    update_cache: true
    allow_downgrade: true
    pkg:
      - helm=3.19.*
